.menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: var(--section-separator);
}

  
.logoname {
    text-decoration: none;
    color: #6F5353;
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
} 
  
.pagelink {
    display: flex;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 10px; */
}

.homelink{
    color: #000;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
    /* text-transform: capitalize; */
    text-decoration: none;
    padding-right: 15px;
}
  
.links {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 15px;
    border-right: 3px solid #000;
}

.links:hover{
    opacity: 0.8;
}

/* Hearo Section */

.heroSection {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero{
    display: flex;
    /* height: 543px; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.h1{
    /* color: #000000; */
    /* H1 - Main Heading */
    /* font-family: Outfit; */
    /* font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; */
    display: flex;
    margin: 0;
    color: #14C9C9;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.h2{
    color: #000;
    font-family: Poppins;
    font-size: 25.405px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 9.146px;
    text-transform: uppercase;
}

.h1_2{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero.subtext{
    display: flex;
    width: 373px;
    flex-direction: column;
    flex-shrink: 0;
}

.subtext{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}


.heroimage {
    display: flex;
    /* width: 463px; */
    align-items: center;
    flex-shrink: 0;
    border-radius: 100%;
}

.herotext {
    width: 180px;
    height: auto;
    flex-shrink: 0;
    border-radius: 83px;
    opacity: 1;
    background: #9190DB;
    text-align: center;
    display: flex;
    margin-right: 10px;
}

.bio{
    color: #000;
    margin-top: 30px;
    display: flex;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
}

.h1_project{
    color: #000;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.githublink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
    font-size: 25px;
}

.p{
    margin-top: 0px;
    margin-bottom: 20px;
}

.cellImage{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
    border-bottom: 4px solid #14C9C9;
}

.projectImage{
    margin-right: 5px;
    /* border: 5px solid #000; */
    padding-bottom: 10px;
}

.marketImage{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 4px solid #14C9C9;
}

/* Footer Section */

.footer{
    background:#cac6dd;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
  
.footertitle {
    color: #000000;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.footerlink {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerlink a{
    color: #000000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
}
/* Form Input Section */

.subscribeSection{
    display: flex;
    justify-content: center;
    border: 4px solid #14C9C9;
    background: linear-gradient(314deg, #69aff0 0%, #e6cfcf 52.03%, #B86ADF 100%);
}

.h2_sub{
    color: #000;
    font-family: Poppins;
    font-size: 25.405px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 9.146px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formText{
    color: #000;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
}

.newsletterform{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailaddress {
    border-radius: 70px;
    background: rgba(235, 235, 235, 0.31);
    display: flex;
    width: 113px;
    flex-direction: column;
    flex-shrink: 0;
    color: #252525;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    line-height: 31px;
    opacity: 1;
    margin-top: 5px;
    width: 315px;
    align-items: center;
    text-align: left;
}

.checkBox{
    /* background: rgba(235, 235, 235, 0.31); */
    border: 2px solid #14C9C9;
    border-radius: 50px;
    width: 300px;
    height: 20px;
}
.footertext {
    border-radius: 83px;
    opacity: 1;
    border: 1px solid #FFF;
    background: #14C9C9;
    margin-bottom: 20px;
    width: 159px;
    height: 47px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 10px;
}


input.footertext {
    color: #000;
    /* sub header */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.footertext:hover{
    opacity: 0.8;
    color: #0a8383;
}

.footertext:active{
    background: #086161;
}