/* Popular Menu Section */

.PopSection {
    margin-top: 30px;
    background: #5D1D0C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 29px;
    gap: 29px;
}


.h1Pop {
    display: flex;
    justify-content: center;
    color: #6F5353;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popcards {
    margin-top: 100px;
    border-radius: 29px;
    width: 345px;
    /* background: #141450; */
}

.coffeeName {
    /* color: #FFF; */
    /* person-name */
    /* margin-top: 30px; */
    /* font-family: Roboto; */
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    letter-spacing: 2.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* /* .PopMenu { */
   
    /* Apply Grid layout */
    /* display: inline-flex; */
    /* Create as many columns as fit into the container */
    /* gap: calc(.5 * 1.5rem); */
    /* Add space below the list */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    /* justify-items: center; */
    /* flex-wrap: wrap; */
    /* width: 1440px;
    height: 715px; */
/* } */

.coffeeName {
    color: #18250B;
    font-family: Poppins;
    text-align: left;
    margin-top: 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.coffeeDesc {
    color: #FFF;
    margin-left: 20px;
    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rating {
    margin-top: 20px;
    text-align: left;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    margin-top: 20px;
    text-align: left;
    color: #18250B;;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.ImagePart {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -95px;
}

.coffeImage {
    display: flex;
    /* width: 463px; */
    align-items: center;
    flex-shrink: 0;
    max-width: 200px;
    border-radius: 100%;
}

.coffeImagecold {
    display: flex;
    /* width: 463px; */
    align-items: center;
    flex-shrink: 0;
    max-width: 180px;
    border-radius: 100%;
}

.MenuContain {
    background: #CBB293;
    border-radius: 5px;
    max-height: 360px;

}

